*.sln
*.suo
*.pdb
*.user
*.sdf
*.filters
*.vcxproj
x64/
*.opensdf
IlluminationDesigner/x64/
*.png
*.txt
*.props
*.filters
try/
*.jpg
*.phc
*.camera
generate/
cameras/
props/
*.xyz
objs/
*.avi
*.config
capture/
lights/
objs/

